
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(241 245 249);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(203 213 225);
  border-radius: 4px;
  transition: background 0.2s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(148 163 184);
}


.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(30 41 59);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(71 85 105);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(100 116 139);
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(203 213 225) rgb(241 245 249);
}

.dark .custom-scrollbar {
  scrollbar-color: rgb(71 85 105) rgb(30 41 59);
}
